body {
  height: 100%;
  width: 100%;
  background: #ee0979; /* For browsers that do not support gradients */
  background: linear-gradient(#ee0979, #ff6a00); /* Standard syntax (must be last) */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
}

a.styled::before {
  width: 15px !important;
  height: 15px !important;
  margin: -2px 0 0 -2px;
}

h1 {
  font-family: 'Open Sans', sans-serif !important;
  font-family: 'Pacifico', cursive !important;
  font-size: 90px !important;
}

h2 {
  font-size: 36px;
  margin-left: 8%;
  font-family: 'Bitter', serif !important;
}

div {
  float: left;
  padding-left: 9%;
  margin: 0 auto;
  padding-top: 15%;
}

div.pagination {
  text-align: center;
  padding-top: 0;
  margin-left: 32%;
  right: 0;
}

.pagination a {
  display: inline-block;
  margin: 10px;
  width: 20px;
  height: 20px;
}

.pagination a::before {
  background-color: #000;
  opacity: 0.4;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}

.pagination a:hover::before {
  width: 15px;
  height: 15px;
  margin: -2px 0 0 -2px;
}

.pagination a.selected::before,
.pagination a:hover::before {
  background-color: #000;
}

.pagination a.selected:hover::before,
.pagination a.selected::before {
  width: 20px;
  height: 20px;
  margin: -5px 0 0 -5px;
}

img {
  float: right;
  height: 150%;
}
